
body {
  padding:1em 1em 1em 1em;
  color:white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,120,175,1) 42%, rgba(15,122,176,1) 76%, rgba(0,212,255,1) 100%); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  position:fixed;
  width:100%;
  color:black;
  left:0;
  bottom:0;
  text-align: center;
  font-size: 1.0em;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(129,213,242,1) 42%, rgba(54,162,185,1) 76%, rgba(233,233,233,1) 100%); 
   border: 8px solid #1C6EA4;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 600px) {
  footer{
    width:96%;
    color:black;
    text-align: center;
    font-size: 0.8em;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(129,213,242,1) 42%, rgba(54,162,185,1) 76%, rgba(233,233,233,1) 100%); 
     border: 8px solid #1C6EA4;
    border-radius: 10px 10px 10px 10px;
    height:10%;
    margin-top:15%;
    position:relative;
    padding: 0.1em 0.1em 0.1em 0.1em;
  }
  
}

#cityImages{
  width:40%;
  height:30%;
  margin-left:5%;
  margin-right:1%;
  float:left;
  border: 8px solid #1C6EA4;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 600px) {
  #cityImages{
    width:90%;
    height:100%;
    float:none;
    border: 8px solid #1C6EA4;
    border-radius: 10px 10px 10px 10px;
  }

}

 #bossDiv{
  width: 100%;
  height: 100%;
  display: flexbox;
 }

 
@media screen and (max-width: 600px) {
  #bossDiv{
    width: 100%;
    height: 100%;
    display: inline;
   }
}



 #map{
  border: 8px solid #1C6EA4;
  border-radius: 10px 10px 10px 10px;
 }
 @media screen and (max-width: 600px) {
 #map{
  border: 8px solid #1C6EA4;
  border-radius: 10px 10px 10px 10px;
  float:none;
  margin-top:5%;
  margin-left:4%;
 }
}

 #menu{
  width:95%;
  height:50%;
  display:flex;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(129,213,242,1) 42%, rgba(54,162,185,1) 76%, rgba(233,233,233,1) 100%); 
   border: 8px solid #1C6EA4;
  border-radius: 10px 10px 10px 10px;
  color:black;
  text-align:center;
  padding-left: 2.5%;
  padding-right:1.5%;
  margin-bottom:5%;
 }
 
 @media screen and (max-width: 600px) {

  #menu{
    width:95%;
    height:50%;
    display:inline-block;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(129,213,242,1) 42%, rgba(54,162,185,1) 76%, rgba(233,233,233,1) 100%); 
     border: 8px solid #1C6EA4;
    border-radius: 10px 10px 10px 10px;
    color:black;
    text-align:center;
    padding-left: 2.5%;
    padding-right:1.5%;
    margin-bottom:5%;
   }
   
  
 }

/*CLASSES*/
.btn {
  margin:auto;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.5em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


@media screen and (max-width: 600px) {

  .btn {
    margin:auto;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.0em;
    padding:0.2em 0.2em 0.2em 0.2em;
    text-decoration: none;
    margin: 0em 0.2em 0.5em 0.2em;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  h1{
    font-size:2em;
  }


}